/* font-family: 'Work Sans', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* shared css */
.btn-primary {
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #F15B22;
    border: none;
    padding: 15px 20px;
}

.section-margin {
    width: 1140px;
    margin: 0 auto;
}

/* Header section */
header {
    width: 100%;
    height: 100vh;
    background-image: url('../images/banner/banner1.png');
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;

}

.header-content {
    width: 530px;
    text-align: right;
    position: absolute;
    right: 100px;
    top: 100px;
}

.header-title {
    width: 525px;
    color: #15141;
    font-size: 65px;
    font-weight: 700;

}

.header-description {
    margin: 24px 0;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* failuer section */
.failure-section {
    padding: 120px 0;
}

.failure-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.failure-content {
    width: 500px;
}

.failure-pic {
    width: 480px;
}

.failure-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.failure-description {
    color: #444343;
    width: 400px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.failure-list li {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
    list-style: square;
}

/* Plan Section */
.section-title {
    text-align: center;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

.plan-items-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-course img {
    width: 93px;
}

.item-course {
    text-align: center;
}

.course-tile {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
}

.course-sub-title {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}

.watch-section {
    display: flex;
    background-image: url('../images/gradient3.png'), url('../images/watch.png');
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 130px auto;
    padding: 100px 0 100px 65px;
}

.plan-section-banner-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    display: block;
}

.banner-btn {
    background-color: #fff;
    color: #F15B22;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 24px;
}

/* footer section */
footer {
    background: #151414;
    padding: 130px 0;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column-title {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}

.column-description {
    width: 500px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 10px 0 25px 0;
}

.email,
.phone {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 10px;
}

.social-icon img {
    margin: 10px 20px 0 0;
    width: 40px;
}

.social-icon a {
    text-decoration: none;
}

.subscribe-title {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
}